html{
    font-family: ABeeZee;
    font-style: normal;   
}
header{
    text-align: center; 
}

.menuPrincipal{
    font-size: 30px;
    display: flex; /*colocar uno lado del otro*/
    list-style: none; /*NO viñetas de lista*/
    background-color: #937FA3;  
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    flex: auto; /*ocupar todo el espacio*/
    border-right: 1px solid #674681;
    text-align: center; 
    color: white;
    text-decoration: none; /*eliminar subrayado de las referencias*/
    line-height: 2;
    display: block;
  }
  li:hover{
    cursor:pointer;
    color: #674681;
    background-color: #fff
}

.seccionPago{
    max-width: 800px;
    height: 600px;
    padding: 40px 40px 40px 40px;
    /*alinear elemntos horizontalmente*/
    margin: auto;

}
/*mostrar titulo de pago con tarjeta*/
.mostrarImg{
    background: #fff;
    height: 110px;
    /*definir tamaño horizontal*/
    width:450px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    text-align: center;
    /*ingresar borde a contenedor de imagen*/
    border:2px solid #937FA3;
}
.mostrarImg:hover{
    cursor:pointer;
    color: #fff;
    background-color:#937FA3;
}

.imgvisa{
    padding-top: 10px;
}
/*formulario de ingreso de datos*/
.ingDatos{
    background: #fff;
    width: 90%;
    margin: auto;
    max-width: 600px;
    /*Para definir espacios entre los elementos y el conetnedor*/
    padding: 100px 30px 30px 30px;
    /*Para dar borde redondeado*/
    border-radius: 10px;
    position: relative;
    top: -80px;
    /*para que se coloque debajo del div de imagenes*/
    z-index: 1;
    border:2px solid #937FA3;
}
.ingDatos label{
    /*para que ocupe todo el espacio*/
    display: block;
    color:#7d8994;
    /*margen en la parte inferior de 5*/
    margin-bottom: 5px;
    /*establecer tamaño de fuente*/
    font-size: 18px;
}

.ingDatos select{
    border:2px solid #ced6e0;
    font-size: 18px;
    height: 40px;
    width: 100%;
    padding: 5px 12px;
    /*bordes redondeados*/
    border-radius: 5px;
    /*dar espacio por abajo de los select e input*/
    margin-bottom: 20px;
    /**/
    text-align-last: center;
}
.numTarjeta, .nombre{
    border:2px solid #ced6e0;
    font-size: 18px;
    height: 35px;
    width: 98%;
    /*bordes redondeados*/
    border-radius: 5px;
    /*dar espacio por abajo de los select e input*/
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.inputCodSeg{
    border:2px solid #ced6e0;
    font-size: 18px;
    height: 35px;
    /*bordes redondeados*/
    border-radius: 5px;
    text-align: center;
}

.btnValidar {
    border:2px solid #ced6e0;
    font-size: 18px;
    height: 40px;
    width: 100%;
    padding: 5px 12px;
    /*bordes redondeados*/
    background: #437eb9;
    
    border-radius: 5px;
    /*dar espacio por abajo de los select e input*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ingDatos input:hover,.ingDatos select:hover{
    border:2px solid #B8D2F7;
}
.btnValidar:hover,.btnVolver:hover{
    cursor:pointer;
    color: #fff;
    background-color:#937FA3
}


.ingDatos input:focus,.ingDatos select:focus,.btnValidar:focus{
    outline: #7d8994;
    box-shadow: 2px 7px 10px -5px #8894a0;   
}

.flex {
    display: flex;
    justify-content: space-between;
}
.codSeg{
    width: 100%;
}
.expiracion{
    width: 100%;

}
.fechaExp{
    width: 100%;
    margin-right: 15px;
}

/*dando estilo a mensaje de validación*/

.seccionValidacion{

    max-width: 600px;
    height: 600px;
    padding: 40px 40px 40px 40px;
    /*alinear elemntos horizontalmente*/
    margin: auto;
}


.imgMensaje{
    background: #fff;
    height: 100px;
    /*definir tamaño horizontal*/
    width:100px;
    /*para que el contenido se centre */
    margin: auto;
    /*margen interior*/
    padding: 15px;
    border-radius: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    /*ingresar borde a contenedor de imagen*/
    border:2px solid #937FA3;  
}

.contenedorVal{
    background: #fff;
    width: 90%;
    max-width: 600px;
    /*Para definir espacios entre los elementos y el conetnedor*/
    padding: 100px 30px 30px 30px;
    /*Para dar borde redondeado*/
    border-radius: 10px;
    position: relative;
    top: -80px;
    /*para que se coloque debajo del div de imagenes*/
    z-index: 1;
    border:2px solid #937FA3;
}

.btnVolver{
    border:2px solid #ced6e0;
    font-size: 18px;
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    /*bordes redondeados*/
    background: #437eb9;
    border-radius: 5px;
    /*dar espacio por abajo de los select e input*/
}

.piePrincipal{
    display: flex;
    justify-content: space-between;
    height: 150px; /*alto en vertical*/
    background: #D1CECE;
    padding-left: 150px;
    padding-top: 15px;
    padding-right: 150px;
    color: #1A456C;
    line-height: .5; 
}



.pieSegundario{
    font-size: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
    background: #674681;
    padding-top: center;
    color: #F4F7F9;
}